.song-item {
  display: flex;
  justify-content: center;

  width: 100%;
}

.song-icon {
  width: 30px;
  height: 30px;
}

.song-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.song-title {
  font-weight: bold;
}



