<nb-card>
  <nb-card-header style="text-align: center;">
    <h3 style="font-size: 24px;">Buscar lista de reproducción</h3>
  </nb-card-header>
  <nb-card-body>
    <!-- Select con las listas de reproducción -->
    <form class="form-horizontal" [formGroup]="buscarForm">
      <label>Listas de Reproducción</label>
      <nb-select fullWidth formControlName="idLista">
        <nb-option *ngFor="let playlist of nombresListas" [value]="playlist.id">
          {{ playlist.nombre }}
        </nb-option>
      </nb-select><br />
      <div class="mt-4 mb-4 d-flex justify-content-end">
        <button nbButton status="warning" (click)="limpiar()">Limpiar</button>
        <button nbButton status="primary" [disabled]="!buscarForm.valid" (click)="buscarLista()">Buscar</button>
      </div>
    </form>
    <!-- Mostrar detalles de la lista seleccionada -->
    <div *ngIf="mostrarInfo">
      <div style="text-align: center;">
        <div class="d-flex justify-content-end">
          <button nbButton (click)="eliminarLista()">
            <nb-icon icon="trash" nbTooltip="Eliminar lista"></nb-icon>
          </button>
        </div>
        <h3>{{ listaReproduccionResponse.nombre }}</h3>
        <p>{{ listaReproduccionResponse.descripcion }}</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Artista</th>
              <th scope="col">Año</th>
              <th scope="col">Género</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cancion of listaReproduccionResponse.canciones">
              <td>{{ cancion.titulo }}</td>
              <td>{{ cancion.artista }}</td>
              <td>{{ cancion.anno }}</td>
              <td>{{ cancion.genero }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>