/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

nb-card {
    min-width: 18rem;
    max-width: 40rem;
    margin: 0 auto 2rem;
}
